.App {
 
  /* max-width:1400px; */

}
.flex-container{
  display:flex;
  flex-direction:column;
  margin:2% 0;
}
 @media screen and (min-width:600px){
  .flex-container{
    display:flex;
    flex-direction:row;
    margin:3% 2%;
  
  
  }
} 
